!!!
%html
  %head
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
  %body
    = render 'signup/login-header'
    .l-single
      %h2.l-single-head 購入内容の確認
      .buy-content
        .buy-content__inner
          %h3.buy-item-image
            = image_tag @item.images.first.image, class: 'lazyloaded'
          %p.buy-item-name 
            = @item.name
          %form.buy-form
            %p.buy-price-ja
              = number_to_currency(@item.price, unit: "¥", format: "%u%n", precision:0)
              %span.item-shipping 送料込み
            %ul.buy-accordion
              %li.accordion-parent
                .accordion-toggle
                  ポイントはありません
            %ul.buy-price-table
              %li.buy-price-row
                .buy-price-cell 支払い金額
                .buy-price-cell
                  %span
                    = number_to_currency(@item.price, unit: "¥", format: "%u%n", precision:0)     
            = link_to buy_complete_user_path, class:"btn-red" do
              購入する
      .buy-content__second       
        .buy-content__second__text
          %h3 配送先
          %address.buy-user-info-text
            〒
            = @address.post_number
            %br/
            = @prefecture.name + @address.city + @address.town + @address.building 
            %br/
            = current_user.first_name + current_user.last_name
          %p.buy-user-info-text
          = link_to "#", class:"buy-user-info-fix" do
            %span 変更する
            %i.fa.fa-chevron-right
      .buy-content__second
        .buy-content__second__text
          %h3 支払い方法
          %p.buy-user-info-text
            ************1080
            %br/
            01 / 24
        
          %p
          = link_to "#", class:"buy-user-info-fix" do
            %span 変更する
            %i.fa.fa-chevron-right

    = render 'signup/footer'
