- breadcrumb :mypage
= render "layouts/breadcrumbs"

.mypage-main-content
  = render 'users/mypage-sidebar'

  .right-content

    %section.user-info
      %a
        %figure
          = image_tag 'mypage/user-icon.png', size: '60x60', alt: 'user-icon'
        %h2.bold 
          = current_user.nickname
        .user-info__user-rate
          %p.user-info__user-rate__review 評価
          %span 0
          %p.user-info__user-rate__exhibit 出品数
          %span 0


    %section.mypage-tab-container-todo
      %ul.mypage-tabs
        %li.active
          %h3.mypage-tabs__active__h3
            =link_to "#", class: "mypage-tabs__active__h3__a" do
              お知らせ
        %li
          %h3.mypage-tabs__inactive__h3
            =link_to "#", class: "mypage-tabs__inactive__h3__a" do
              やることリスト


      .mypage-content        
        %ul.mypage-item.active
          %li.mypage-item__li
            =link_to "#", class: "mypage-item__li__a" do
              %figure.mypage-item__li__a__figure
                = image_tag 'mypage/logo_red.svg', size: '45x45'
              .mypage-item-body
                .mypage-item-body__text 事務局から個別メッセージ「Googleログイン通知」
                %time.mypage-item-body__time
                  %i.far.fa-clock
                  %span 2 日前
              %i.fa.fa-chevron-right
          %li.mypage-go-list
            =link_to "#", class: "go" do
              一覧を見る

        %ul.mypage-item
          %li.mypage-item__li
            =link_to "#", class: "mypage-item__li__a" do
              %figure.mypage-item__li__a__figure
                = image_tag 'mypage/logo_red.svg', size: '45x45'
              .mypage-item-body
                .mypage-item-body__text 「【新品未開封】レディースパンツ」が発送されました。届いたら内容を確認して、受取評価してください。
                %time.mypage-item-body__time
                  %i.far.fa-clock
                  %span 1 時間前
              %i.fa.fa-chevron-right
          %li.mypage-go-list
            =link_to "#", class: "go" do
              一覧を見る
        
        
    %section.mypage-tab-container
      %h2.mypage-tab-head 購入した商品
      %ul.mypage-tabs.buy
        %li.active
          %h3
            =link_to "#", class: "mypage--tabs__active__h3__a" do
              取引中
        %li
          %h3
            =link_to "#", class: "mypage--tabs__inactive__h3__a" do
              過去の取引
      
      %ul.mypage-item-list
        %li.mypage-item-not-found.active
          %figure.mypage-item-not-found__figure
            = image_tag 'mypage/logo_gray.svg', size: '100x100'
          取引中の商品がありません
        %li.mypage-item-not-found
          %figure.mypage-item-not-found__figure
            = image_tag 'mypage/logo_gray.svg', size: '100x100'
          過去に取引した商品がありません
