%body.login
  = render 'signup/login'
  .login-block
    .login-block-up
      .login-block-up-text
        アカウントをお持ちでない方はこちら
      .login-block-up-link
        =link_to social_choice_signup_index_path, class: "login-block-up-link-address" do
          新規会員登録
    .login-block-main
      .login-block-main-lists
        =link_to user_facebook_omniauth_authorize_path, method: :post, class: "login-block-main-lists-facebook" do
          %i.fab.fa-facebook-square
          Facebookでログイン
        =link_to user_google_oauth2_omniauth_authorize_path, method: :post, class: "login-block-main-lists-google", style:"" do
          = image_tag "mypage/281764.png", class:"logo_google", width:"20px"
          Googleでログイン
      = form_for(resource, as: resource_name, url: session_path(resource_name)) do |f|
        .login-block-main-lists-email
          = f.email_field :email, autofocus: true, class:'login-block-main-lists-email-string',  autocomplete: "email", placeholder: "メールアドレス"
        - if @user.errors[:email].any?
          %ul.error-text
            - @user.errors[:email].each do |message|
              %li= message
        .login-block-main-lists-pass
          = f.password_field :password,class:'login-block-main-lists-pass-string', autocomplete: "current-password", placeholder: "パスワード"
        - if @user.errors[:password].any?
          %ul.error-text
            - @user.errors[:password].each do |message|
              %li= message
        %label.login-block-main-lists-robo
          = f.check_box :agreement, {class: "login-block-main-lists-robo-check"}, 1, nil
          .login-block-main-lists-robo-write
            私はロボットではありません
        - if @user.errors[:password].any?
          %ul.error-text
            - @user.errors[:password].each do |message|
              %li= message
        .login-block-main-lists-box
          = f.submit "ログイン", class:"login-block-main-lists-box-btn"
        .login-block-main-lists-remember
          =link_to "", class:"login-block-main-lists-remember__a" do
            パスワードをお忘れの方
  = render 'signup/footer'
