!!!
%html
  = stylesheet_link_tag    'application', media: 'all'
  = javascript_include_tag 'application'
%body
  %body
    = render 'signup/login-header'
    .product-exhibit
      %section.product-exhibit-main
        .sell-container
          %h2.sell-container__head 商品の情報を入力
          = render partial: 'form', locals: {item: @item}
    = render 'signup/footer'