!!!
%html
  %head
    %link{href: "https://use.fontawesome.com/releases/v5.6.1/css/all.css", rel: "stylesheet"}/
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FreemarketSample63c
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    = render 'signup/login-header'
    .product-exhibit
      %section.product-exhibit-main
        .sell-container
          %h2.sell-container__head 商品の情報を入力
          = render partial: 'form', locals: {item: @item}
    = render 'signup/footer'