.wrapper
  %section.item-box-container
    %h1.item-name
      = @item.name
    .item-main-content.clearfix
      .item-photo
        .owl-carousel__loaded__drag
          .owl-stage-outer
            .owl-stage
              .owl-item.active
                .owl-item-inner
                  %img.owl-lazy{alt: "商品名", src: "https://static.mercdn.net/item/detail/orig/photos/m39995405277_1.jpg?1575261482", style: "opacity: 1;"}/
          .owl-nav.disabled
            .owl-prev prev
            .owl-next next
          .owl-dots.disabled
            .owl-dot.active
              %span
      .item-price-box
        %span.item-price.bold ¥1,450
        %span.item-tax (税込)
        %span.item-shipping-fee 送料込み
      %section.visible-sp
        .item-btn-float-area
        = link_to "#", class:"item-buy-btn" do
          購入画面に進む
      %table.item-detail-table
        %tbody
          %tr
            %th 出品者
            %td
              %a
                = @user.nickname
              %div
                .item-user-ratings
                  %i.fas.fa-grin
                  %span 3
                .item-user-ratings
                  %i.fas.fa-meh
                  %span 1
                .item-user-ratings
                  %i.fas.fa-frown
                  %span 0
          %tr
            %th カテゴリー
            %td
              = link_to "#" do
                %div おもちゃ・ホビー・グッズ
              = link_to "#" do
                .item-detail-table-sub-category
                  %i.fa.fa-chevron-right
                  タレントグッズ
              = link_to "#" do
                .item-detail-table-sub-sub-category
                  %i.fa.fa-chevron-right
                  アイドル
          %tr
            %th ブランド
            %td
              = @brand.name
          %tr
            %th 商品の状態
            %td
              = @item.condition
          %tr
            %th 配送料の負担
            %td 
              = @item.delivery_fee
          %tr
            %th 配送の方法
            %td 
              = @item.delivery_method
          %tr
            %th 配送元地域
            %td
              = @prefecture.name
          %tr
            %th 発送日の目安
            %td 
              = @item.days
    .item-price-box
      %span.item-price 
        = number_to_currency(@item.price, unit: "¥", precision:0)
      %span.item-tax (税込)
      %span.item-shipping-fee 送料込み
    = link_to "#", class:"item-buy-btn" do
      購入画面に進む
    .item-description.f14
      %p.item-description-inner
        = @item.item_text
    .item-button-container.clearfix
      .item-button-left
        %button.item-button.item-button-like{name: "like!", type: "button"}
          %i.far.fa-heart
          %span いいね!
          %span.fade-in-down 0
        %a.item-button.item-button-report.clearfix
          %i.fas.fa-flag-checkered
          %span 不適切な商品の報告
        %input{name: "like_add_url", type: "hidden", value: ""}/
        %input{name: "like_del_url", type: "hidden", value: ""}/
        %input{name: "__csrf_value", type: "hidden", value: ""}/
      .item-button-right
        = link_to "#", target: "_blank" do
          %i.fas.fa-lock
          %span あんしん・あんぜんへの取り組み

  .item-detail-message
    .message-container
      .message-content
        %form.message-form{action: "url", method: "POST"}
          %input{name: "__csrf_value", type: "hidden", value: ""}/
          %p 相手のことを考え丁寧なコメントを心がけましょう。不快な言葉遣いなどは利用制限や退会処分となることがあります。
          %input{name: "item_id", type: "hidden", value: ""}/
          %input{name: "redirect_url_key", type: "hidden", value: "item_detail"}/
          %textarea.textarea-default{name: "body", type: "text", value: ""}
          %button.btn-default.btn-gray{type: "submit"}
            %span コメントする

  %ul.nav-item-link-prev-next.clearfix
    %li.nav-item-link-prev
      %i.fas.fa-chevron-left
        = link_to "#" do
          アイテム①
    %li.nav-item-link-next
      = link_to "#" do
        アイテム②
        %i.fa.fa-chevron-right

  .item-social-media-box
    .text-center
      .fb-save.fb_iframe_widget
        %span{style: "vertical-align: top; width: 0px; height: 0px; overflow: hidden;"}
          %iframe{allow: "encrypted-media", allowfullscreen: "true", allowtransparency: "true", frameborder: "0", height: "1000px", name: "fee32177648ea8", scrolling: "no", src: "", style: "border: none; visibility: visible; width: 0px; height: 0px;", title: "fb:save Facebook Social Plugin", width: "1000px"}
    %ul.social-media-box
      %li
        = link_to "https://ja-jp.facebook.com/", name: "facebook_window",class:"share-btn", target: "_blank" do
          %i.fab.fa-facebook.fa-2x
      %li
        = link_to "https://twitter.com/login?redirect_after_login=%2Fhome", name: "twitter_window",class:"share-btn", target: "_blank" do
          %i.fab.fa-twitter.fa-2x
      %li
        = link_to "https://www.pinterest.jp/", name: "pinterest_window",class:"share-btn", target: "_blank" do
          %i.fab.fa-pinterest.fa-2x

  %nav.bread-crumbs.pos-bottom
    %ul
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        = link_to "https://www.mercari.com/jp/", itemprop: "url" do
          %span{itemprop: "title"} メルカリ
        %i.fa.fa-chevron-right
      %li{itemscope: "", itemtype: "http://data-vocabulary.org/Breadcrumb"}
        %span{itemprop: "title"} 商品名